<div class="container mx-auto">
    <img class="mx-auto w-64"
        src="..\..\..\assets\images\web.jpg"
        alt="web" />
        <p class="text-base text-gray-800">
            Ya has hecho los deberes y tienes buenos textos persuasivos en las páginas de tu web, pero ese es un contenido que los buscadores no valoran mucho. Necesitas textos para sitios web explicativos que Google valore y te posicione.
            Necesitas un blog donde poner muchos posts que aborden los detalles de tu ámbito. Ahí sí podrás explayarte sin interferir con las páginas de venta escritas con otra finalidad.
            De esa forma damos solución a dos necesidades:
            Que el cliente encuentre respuestas relacionadas con tus productos y tenga una buena experiencia.
            Que Google te posicione entre las primeras búsquedas al ver que tienes contenido de calidad.
            El siguiente paso es que estén preparados con criterio SEO, bien estructurados en cuanto a títulos y subtítulos, textos resaltados en negrita y cursiva, y con párrafos cortos fáciles de leer.
            Redactamos los posts de tu blog, o textos para sitios web, con criterio SEO para que tu web posicione alto en Google. Estamos listos para trabajar tus textos para páginas web.
        </p>
</div>